.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.formlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.labellogin {
    font-size: 1.2rem;
    font-weight: bold;
}

.inputlogin {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.buttonlogin {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #0070f3;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}